<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="main-content">
        <h2>Welcome to Indpro</h2>
        <p>here we can add about our company and what our companuy does</p>
        <p>Please for further quaries reach out to indpro/inpro.com.in</p>
        <div class="fade-in">
          <h1>Welcome to My Website</h1>
          <button class="btn btn-primary">Hover Me</button>
      </div>
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
